@CHARSET "UTF-8";

.title {
	text-align: center;
}
.submitBTN {
	float: right;
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	margin-top: 10px;
	padding: 2px 10px;
	border-radius: 8px;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 14px;
	vertical-align: middle;
}
.submitBTN:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}
.submitBTN:active {
	border-top-color: #1b435e;
	background: #1b435e;
}
#recipeTable {
	border-collapse: collapse;
	width: 100%;
}
#recipeTable th, #recipeTable td{
	font-size: 12 px;
	padding: 10px;
}
#recipeTable th{
	text-align: center;
	border-bottom: solid grey;
}
#recipeTable td{
	text-align: left;
	border-top: solid grey;
}
legend {
	font-size: 250%;
	padding-bottom: 0.2em;       
}               
fieldset {
	padding-top: 0.1em;
	border: 0;
}
#container{
	width: 50%;
	margin-left: 25%;
}
#titleDiv, #cardBodyDiv{
	background: #DBA91F;
}
#titleDiv, #ingDiv, #instructDiv{
	padding: 15px;
}
#titleDiv {
	text-align: center;
}
#cardBodyDiv{
	overflow: hidden;
    position: relative;
	width: 100%;
	border-top: grey dotted;
	border-bottom: grey dotted;
}
#ingDiv{
	float: left;
	width: 25%;
	border-right: grey dotted;
}
#instructDiv{ 
	float: left;
	width: 60%;
}
#instructions{
	width: 100%;
	height: 150px;
}
#logERR{
	color: red;
}


